﻿.forte-segment-input-UI {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right,rgba(87,157,172,.3), rgba(87,157,172,0));
    border: solid;
    border-width: .1em;
}

.forte-variable-display-value {
    color: gray;
}

.forte-variable-control-wrapper {
    margin-top: 0;
    margin-bottom: 1em;
}

p.control-para {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

div.forte-control  {
	width: 300px;
	position: relative;
	margin-left:0px;
}
.forte-control {
    width: 100%;  
}
.forte-control-mlc-textarea {
       position: absolute;
       left:0px; 
       top: 0px; 
       width:94%;
       height:100%;
       resize: none;
}

.forte-control-mlc-button {
       width:5%;
       font-weight:bold;
       position:absolute;
       z-index: 1;
       top:0px;
       height:110%;
       right:0px;
}
.forte-control-mlc-select{
	width:100%;
	margin-top: 0px;
	position:absolute;
	top: 100%;
	left: 0px; 
	z-index:1;
	display: none
}

.forte-control * {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.forte-segment {
    list-style: none;
    list-style-image: url('SegmentTransparent.png');
    margin-left: 0;
    padding-left: 0em;
    text-indent: 0em;
    margin-top: 1em;
    margin-bottom: 0em;
}

.forte-child-segment {
    list-style: none;
    list-style-image: url('SegmentComponentTransparent.png');
    margin-left: 0;
    padding-left: 0em;
    padding-bottom: 0em;
    text-indent: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.forte-segment-display-name {
    margin-bottom: 5em;
    font-weight: bold;
}

.forte-variables {
    list-style: none;
    margin-left: 0em;
    padding-left: 1.2em;
    text-indent: -1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.forte-variable-wrapper {
    list-style: none;
    list-style-image: url('VariableValid.png');
    margin-left: 0;
    padding-left: 0em;
    padding-bottom: 0em;
    text-indent: 0.3em;
}

.forte-more-node {
    list-style: none;
    list-style-image: url('MoreNode.png');
    margin-left: 0;
    text-indent: 0.3em;
}
.forte-more-display-value {
   margin-bottom: 0.5em;
}
.forte-variable-value {
    list-style: none;
    margin-left: -2.75em;
    margin-top: .3em;
    margin-bottom: 1em;
}

p.list-para {
    margin-top: 0;
    margin-bottom: 0.5em
}
.detail-grid-control-text {
	width:80%;
}