﻿.forte-segment-input-UI {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right,rgba(87,157,172,.3), rgba(87,157,172,0));
    border: solid;
    border-width: .1em;
}

.forte-variable-display-value {
    color: gray;
}

.forte-variable-control-wrapper {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.forte-variable-display-value {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.jstree ins {
    text-decoration: none;
    width: 0px;
    margin: 0 0 0 0;
    padding: 0;
}

p.control-para {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

div.forte-control  {
	width: 300px;
	position: relative;
	margin-left:0px;
}
.forte-control {
    width: 80%;  
}
.jstree.forte-control * {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}

.forte-control-mlc-textarea {
       position: absolute;
       left:0px; 
       top: 0px; 
       width:94%;
       height:100%;
       resize: none;
}

.forte-control-mlc-button {
       width:5%;
       font-weight:bold;
       position:absolute;
       z-index: 1;
       top:0px;
       height:110%;
       right:0px;
}
.forte-control-mlc-select{
	width:100%;
	margin-top: 0px;
	position:absolute;
	top: 100%;
	left: 0px; 
	z-index:1;
	display: none
}

.forte-variable-wrapper > a > .jstree-icon {
    font-size: 0.5em;
    color: green;
}

.forte-variable-control-wrapper > a > .jstree-icon {
    display: none !important;
}

.forte-variable-display-value > a > .jstree-icon {
    display: none !important;
}

.forte-segment-display-name {
    margin-bottom: 0em;
    font-weight: bold;
}

.forte-variables {
    list-style: none;
    margin-left: 0em;
    padding-left: 1.2em;
    text-indent: -1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.forte-variable-value {
    list-style: none;
    margin-left: -2em;
    margin-top: .3em;
    margin-bottom: 1em;
}

p.list-para {
    margin-top: 0;
    margin-bottom: 0.5em
}
.jstree-leaf {
    height: auto;
}
.jstree-leaf a{
    height: auto !important;
}
.jstree-default li > ins {
	width: 0px;
}
.detail-grid-control-text {
	width:100%;
}