﻿.forte-segment-input-UI {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: linear-gradient(to bottom right,rgba(87,157,172,.3), rgba(87,157,172,0));
    border: solid;
    border-width: .1em;
    width: 50%;
}

ul.fancytree-container {
	background:transparent;
}
div.forte-control  {
	width: 300px;
	position: relative;
	margin-left:0px;
}
.forte-control {
	width: 100%;
}
.forte-control * {
color: black;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}

span.forte-segment > .fancytree-title {
    margin-bottom: 0em;
    font-weight: bold;
}

span.forte-child-segment > .fancytree-title {
    margin-bottom: 0em;
    font-weight: bold;
}

span.forte-variable-display-value > .fancytree-title {
    color: gray;
    margin-left: -1em;
}

span.forte-variable-control-wrapper {
    margin-top: 0;
    margin-left: -1em;
    margin-bottom: 0.5em;
}

ul.forte-variables {
    list-style: none;
    margin-left: 0em;
    padding-left: 1.2em;
    text-indent: -1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.forte-control-mlc-textarea {
       position: absolute;
       left:0px; 
       top: 0px; 
       width:94%;
       height:100%;
       resize: none;
}

.forte-control-mlc-button {
       width:5%;
       font-weight:bold;
       position:absolute;
       z-index: 1;
       top:0px;
       height:110%;
       right:0px;
}

.forte-control-mlc-select{
	width:100%;
	margin-top: 0px;
	position:absolute;
	top: 100%;
	left: 0px; 
	z-index:1;
	display: none
}
.detail-grid-control-text {
	width:100%;
}